# Порт на якому буде доступний преленд
PORT=3010

# Посилання на оффер з DrCash
OFFER_URL=https://...

# Facebook Pixel ID
FB_PIXEL_ID=123456789012345

# Домен преленду (без https://)
DOMAIN=cystiolla.healthstories.store
